.git
.next
node_modules
coverage
out
build
data
scripts

.env
.env.*
!.env.example
!.env.production.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
